.games {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr;
    font-family: "EB Garamond", serif;
    border-bottom: 1px solid black;
}


.games-title {
    font-size: 18px;
    grid-column: 1 / -1;
}
.games-title h1 {
    font-size: 16px;
}
.games-title em {
    font-weight: 300;
}
.games-title strong {
    font-weight: 900;
}

.game {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
}
.game:hover h2 {
    color: #5A5A5A;
}

.game-description {
    margin-right: 10px;
}

.game-description h1 {
    font-size: 15px;
}

.game-description h2 {
    font-size: 15px;
    margin: 0;
}

.game-description p {
    font-size: 15px;
    font-weight: 500;
    color: #5A5A5A;
    margin: 0;
}

@media (max-width: 1070px) {
    .games {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.2fr 1fr 1fr 1fr ;
    }

    .game figure {
        text-align: right;
    }
}

@media (max-width: 740px) {
    .games {
        grid-template-columns: 1fr;
        border-bottom: none;
    }

    .game {
        border-bottom: 1px solid lightgray;
    }

    .game-description h2 {
        font-size: 16px;
    }

    .game-description p {
        font-size: 18px;
    }
}